<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cadastro de Eventos e Convidados - Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <p>Bem-vindo,
            <%- usuario.nome %>
        </p>
        <h1>Cadastro de Eventos</h1>
        <h4>Forneça os dados para o cadastro</h4>
    </header>
    <section>
        <form action="/novoEvento" method="post">
            Código:
            <br /><input type="text" name="curso[codigo]">
            <br> Descricao:
            <br /><input type="text" name="curso[descricao]">
            <br> CH:
            <br /><input type="text" name="curso[CH]">
            <br>
            <br> Categoria:
            <br />
            <select type="text" name="curso[categoria_id]">
                <% for(var i=0; i<categorias.length; i++) {%>
                    <option value="<%= categorias[i].id %>"><%= categorias[i].descricao %></option>
                <% } %>
            </select>
            <br>
            <button type="submit">Enviar</button>
        </form>
    </section>
    <footer>
        <small>Sistema de Cadastro de Eventos e Convidados</small>
    </footer>
</body>

</html>